@CHARSET "UTF-8";

/*1、导航栏设置*/
.navbar-default{/*导航栏设置*/
	/* background-color: white; */
}

.navbar-brand{/*导航栏logo信息设置*/
	font-size: 20px;
	/* font-family: "宋体"; */
	margin-bottom:0px;
	/* background-color:gold; */
}

#user_setting{
	padding-top: 8px;
}

.dropdown-toggle{/*用户设置  下拉菜单*/
	background-color:#F8F8F8;	
}



/*2、中间内容设置*/

.navbar{
	margin-bottom: 0px;
}

.nav-pills li.active a{
	background-color:grey;
}

.nav-pills li.active a:hover{
	background-color:black;
}

.container{
	margin-bottom: 0px;
}

#mainContent{/*主体内容*/
	margin-bottom:36px;
	margin-top:0px;
}

#wishtitle{/*心愿单标题*/
	font-size:30px;
	text-align: center;
}

#redZi{
	color:red;
	font-size:20px;
}

#wishZi{
	font-size:20px;
	margin-left:5px;
}

#bottomNav{/*底部导航栏*/
	text-align: center;
	margin-bottom:0px;
}

#contentNav{
	display: inline-block;
	float: none;
}

#add_msg{/*添加表单提醒*/
	color:red;
	font-size:20px;
}



/*媒体查询*/


@media (max-width: 767px) {  
    /*在小于768像素的屏幕里,这里的样式才生效*/  
	#myzi{
		font-size: 10px;
	}
	
	.btn-xs{
		height: 20px;
	}
	
	.addZiti{
		font-size:15px;
	}
	
	#myMsg{
		font-size:15px;
	}
	
	.pagination-lg>li>a, .pagination-lg>li>span {
	    padding: 2px 2px;
	    font-size: 15px;
	    line-height: 1.3333333;
	}
} 

@media (min-width: 1200px) {  
    /*在大于1200像素的屏幕里,这里的样式才生效*/ 
    #myzi{
		font-size: 18px;
	}
	
	.addZiti{
		font-size:25px;
	}
	
	#myMsg{
		font-size:25px;
	}
}  