<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhku.jsj144.zk.financialManage.mapper.ShouzhiRecordMapper">

	<!-- select count(*) from financialmanage.shouzhi_record where user_id=1 -->
	<!-- 查询用户的收支明细记录数-->
	<select id="findShouzhiRecordCount" parameterType="java.util.Map" resultType="int">
		select count(*) from shouzhi_record 
		where user_id=#{user.uid}
		<if test="szr_date != null and szr_date!=''" >
			and szr_date like '${szr_date}%' 
		</if>
		<if test="szr_comment != null and szr_comment!=''">
			and szr_comment like '%${szr_comment}%'
		</if>
	</select>


	<!-- 分页查询当前用户的，当前页记录数   
	select * from financialmanage.shouzhi_record where user_id=1 limit 1,3 ;
	
		失败！
		select * from shouzhi_record
		 where user_id=#{user_id}
		  limit #{startPosition},#{currentPage}
	  -->
	<!--  
	成功！！！ 
	<select id="findCurrenPageRecordList"  parameterType="java.util.Map"  resultType="ShouzhiRecord">
		select * from shouzhi_record 
		where user_id=#{uid} 
		limit #{startPosition},#{pageRecord}
	</select>
	 -->
	 
	 <!-- 升级  shouzhi_category_id  变为  shouzhi_category 
	 	配置一对一的关系
	 -->
	 <resultMap type="ShouzhiRecord" id="ShouzhiRecordResultMap">
	 	<id property="szrid" column="szrid"/>
	 	<result property="szr_num" column="szr_num"/>
	 	<result property="szr_date" column="szr_date"/>
	 	<result property="szr_comment" column="szr_comment"/>
	 	<result property="user_id" column="user_id"/>
	 	<!-- 一对一关系 -->
	 	<association property="shouzhiCategory" javaType="ShouzhiCategory">
	 		<id property="szcid" column="szcid"/>
		 	<result property="parent_category" column="parent_category"/>
		 	<result property="son_category" column="son_category"/>
	 	</association>
	 </resultMap>
	 
<!-- 	 <select id="findCurrenPageRecordList"  parameterType="java.util.Map"  resultMap="ShouzhiRecordResultMap"> -->
	 <select id="findCurrenPageRecordList"  parameterType="ShouzhiRecordQueryVo"  resultMap="ShouzhiRecordResultMap">
		select 
		rec.szrid,
		rec.szr_num,
		rec.szr_date,
		rec.szr_comment,
		rec.user_id,
		cat.szcid,
		cat.parent_category,
		cat.son_category
		from shouzhi_record  rec
		left join shouzhi_category cat 
		on rec.shouzhi_category_id=cat.szcid
		where rec.user_id=#{uid} 
		<if test="szr_date != null and szr_date!=''">
			and rec.szr_date like '${szr_date}%' 
		</if>
		<if test="szr_comment != null and szr_comment!= ''">
			and rec.szr_comment like '%${szr_comment}%'
		</if>
		order by rec.szr_date desc
		limit #{startPosition},#{pageRecord}
	</select>
	 
	 <!--根据id查询收支记录信息 -->
	 <select id="findShouzhiRecordById" parameterType="java.util.Map" resultMap="ShouzhiRecordResultMap">
	 	select 
		rec.szrid,
		rec.szr_num,
		rec.szr_date,
		rec.szr_comment,
		rec.user_id,
		cat.szcid,
		cat.parent_category,
		cat.son_category
		from shouzhi_record  rec
		left join shouzhi_category cat 
		on rec.shouzhi_category_id=cat.szcid
		where rec.user_id=#{uid}  and rec.szrid=#{szrid}
	 </select>
	 
	 <!-- 修改用户收支信息 -->
	 <update id="editShouzhiRecord" parameterType="ShouzhiRecord">
	 	update shouzhi_record
	 	set szr_num=#{szr_num},szr_date=#{szr_date},szr_comment=#{szr_comment},
	 	shouzhi_category_id=#{shouzhiCategory.szcid}
	 	where szrid=#{szrid}
	 </update>
	 <!--删除用户收支信息（一条） -->
	 <delete id="deleteOneShouzhiRecord" parameterType="int">
	 	delete from shouzhi_record
	 	where szrid=#{id}
	 </delete>
	 
	 <!-- 添加收支记录信息（收入 或者  支出）   -->
	 <insert id="addShouzhiRecord" parameterType="ShouzhiRecord">
	 	insert into shouzhi_record(szr_num,szr_date,szr_comment,shouzhi_category_id,user_id)
	 	values(#{szr_num},#{szr_date},#{szr_comment},#{shouzhiCategory.szcid},#{user_id})
	 </insert>
	 
	 <!-- *******************************年度统计************************* -->
	 <!-- 每个月的收入，支出统计      每个月的收入 月 ：金额 -->
	 <select id="findYearInMonthCountIncome" parameterType="java.util.Map" resultType="MonthCount">
	 	select MONTH(str_to_date( szr_date,'%Y-%m-%d')) as monthName , sum(szr_num) as moneyName 
	 	from shouzhi_record 
		where user_id=#{user_id} and year(str_to_date( szr_date,'%Y-%m-%d'))=#{year} 
		and szr_num>=0 
        group by MONTH(str_to_date( szr_date,'%Y-%m-%d'));
	 </select>
	 
	 <!-- 每个月的收入，支出统计     每个月的支出  月 ：金额 
	 注意:原来的查询语句是：select MONTH(str_to_date( szr_date,'%Y-%m-%d')) as monthName , sum(szr_num) as moneyName 
	 				   结果：支出显示的是负数
	           现在的查询语句是：select MONTH(str_to_date( szr_date,'%Y-%m-%d')) as monthName , -sum(szr_num) as moneyName 
	           		  结果：支出显示的是整数
	 -->
	  <select id="findYearInMonthCountSpend" parameterType="java.util.Map" resultType="MonthCount">
	 	select MONTH(str_to_date( szr_date,'%Y-%m-%d')) as monthName , -sum(szr_num) as moneyName 
	 	from shouzhi_record 
		where user_id=#{user_id} and year(str_to_date( szr_date,'%Y-%m-%d'))=#{year} 
		and 0>szr_num
        group by MONTH(str_to_date( szr_date,'%Y-%m-%d'));
	 </select>
	 
	 <!-- 一年的，各种收入类别统计      -->
	   <select id="findYearInCategoryCountIncome" parameterType="java.util.Map" resultType="MonthCount">
	 	select  sum(rec.szr_num) as moneyName,cat.son_category as categoryName 
		from shouzhi_category as cat,shouzhi_record as rec
		where cat.szcid=rec.shouzhi_category_id 
		and rec.user_id=#{user_id} and YEAR(str_to_date(rec.szr_date, '%Y-%m-%d'))=#{year} 
        and rec.szr_num>=0  
        group by cat.szcid           
	 </select>
	 
	  <!-- 一年的，各种支出类别统计      -->
	   <select id="findYearInCategoryCountSpend" parameterType="java.util.Map" resultType="MonthCount">
	 	select  sum(rec.szr_num) as moneyName,cat.son_category as categoryName 
		from shouzhi_category as cat,shouzhi_record as rec
		where cat.szcid=rec.shouzhi_category_id 
		and rec.user_id=#{user_id} and YEAR(str_to_date(rec.szr_date, '%Y-%m-%d'))=#{year} 
        and 0>rec.szr_num 
        group by cat.szcid           
	 </select>
	 
	 <!-- **********************************月     份      统     计********************************************** -->
	 <!-- 每天的收入统计     天：金额 -->
	 <select id="findMonthInDayCountIncome" parameterType="java.util.Map" resultType="DayCount">
	 	select day(str_to_date( szr_date,'%Y-%m-%d')) as dayName , sum(szr_num) as moneyName 
		from shouzhi_record 
		where user_id=#{user_id} and year(str_to_date( szr_date,'%Y-%m-%d'))=#{year}
		and month(str_to_date( szr_date,'%Y-%m-%d'))=#{month}
		and szr_num>=0 
     	group by day(str_to_date( szr_date,'%Y-%m-%d'));
	 </select>
	 
	 <!-- 每天的支出统计    天：金额 -->
	  <select id="findMonthInDayCountSpend" parameterType="java.util.Map" resultType="DayCount">
	 	select day(str_to_date( szr_date,'%Y-%m-%d')) as dayName , sum(szr_num) as moneyName 
		from shouzhi_record 
		where user_id=#{user_id} and year(str_to_date( szr_date,'%Y-%m-%d'))=#{year}
		and month(str_to_date( szr_date,'%Y-%m-%d'))=#{month}
		and 0>szr_num
     	group by day(str_to_date( szr_date,'%Y-%m-%d'));
	 </select>
	 
 	<!-- 一个月的，各种收入类别统计  -->   
 	<select id="findMonthInCategoryCountIncome" parameterType="java.util.Map" resultType="DayCount">
 		select  sum(rec.szr_num) as moneyName,cat.son_category as categoryName
		from shouzhi_category as cat,shouzhi_record as rec
		where cat.szcid=rec.shouzhi_category_id 
		and rec.user_id=#{user_id} 
		and rec.szr_num>=0  
		and year(str_to_date(rec.szr_date, '%Y-%m-%d'))=#{year} 
		and month(rec.szr_date)=#{month}  
        group by cat.szcid ; 
 	</select>
 	
 	<!-- 一个月，各种支出类别统计   -->  
	 <select id="findMonthInCategoryCountSpend" parameterType="java.util.Map" resultType="DayCount">
 		select  sum(rec.szr_num) as moneyName,cat.son_category as categoryName
		from shouzhi_category as cat,shouzhi_record as rec
		where cat.szcid=rec.shouzhi_category_id 
		and rec.user_id=#{user_id} 
		and 0>rec.szr_num  
		and year(str_to_date(rec.szr_date, '%Y-%m-%d'))=#{year} 
		and month(rec.szr_date)=#{month}  
        group by cat.szcid ; 
 	</select>
 	
 	<!-- ***************************时间段统计-**************************************** -->
 	
 	<!-- 某个时间段的不同类型的收入统计 -->
 	 <select id="findDayInTimeCountIncomes" parameterType="java.util.Map" resultType="DayCount">
 		select sum(rec.szr_num) as moneyName,cat.son_category as categoryName 
 		from shouzhi_category as cat,shouzhi_record as rec
		where cat.szcid=rec.shouzhi_category_id and rec.user_id=#{user_id}
        and rec.szr_num>=0
        and str_to_date(rec.szr_date, '%Y-%m-%d') >=  str_to_date(#{start}, '%Y-%m-%d')
		and str_to_date(#{end}, '%Y-%m-%d') >= str_to_date(rec.szr_date, '%Y-%m-%d')
		group by cat.szcid    
 	</select>
 	
 	<!-- 某个时间段的不同类型的支出统计 -->

 	 <select id="findDayInTimeCountSpends" parameterType="java.util.Map" resultType="DayCount">
 		select sum(rec.szr_num) as moneyName,cat.son_category as categoryName 
 		from shouzhi_category as cat,shouzhi_record as rec
		where cat.szcid=rec.shouzhi_category_id and rec.user_id=#{user_id}
        and 0>rec.szr_num
        and str_to_date(rec.szr_date, '%Y-%m-%d') >=  str_to_date(#{start}, '%Y-%m-%d')
		and str_to_date(#{end}, '%Y-%m-%d') >= str_to_date(rec.szr_date, '%Y-%m-%d')
		group by cat.szcid    
 	</select>	
 	
 	<!-- 通过收支类别id 查询是收入 还是 支出 -->
 	<select id="findParentCategoryById" parameterType="int" resultType="String">
 		select parent_category from shouzhi_category 
 		where szcid=#{szcid}
 	</select>
</mapper>
