<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhku.jsj144.zk.financialManage.mapper.UserMapper">

	<!-- 通过用户名和密码查询用户是否存在-->
	<select id="queryUserByUser" parameterType="user" resultType="user">
		select * from user 
		where username=#{username} and password=#{password}
	</select>
	
	<!--通过用户名查询用户是否存在 -->
	<select id="queryUserByUsername" parameterType="String" resultType="user">
		select * from user 
		where username=#{username}
	</select>
	
	<!-- 修改密码（找回密码） -->
	<update id="updatePasswordByUsername" parameterType="user">
		update user 
		set password=#{password} 
		where username=#{username}
	</update>
	
	<!-- 用户注册（添加用户） -->
	<insert id="insertUser">
		<!-- 自增主键返回 -->
		<selectKey keyProperty="uid" order="AFTER" resultType="int">
			select last_insert_id()
		</selectKey>
		insert into 
		user(username,password,sex,email,phone)
		values(#{username},#{password},#{sex},#{email},#{phone})
	</insert>
	
	<!--用户信息设置 -->
	<update id="editUser"  parameterType="user">
		update user
		set password=#{password}
		<if test="username !=null and username!=''">,username = #{username}</if>
		<if test="email !=null and email!=''">,email = #{email}</if>
		<if test="phone !=null and phone!=''">,phone = #{phone}</if>
		<if test="sex !=null and sex!=''">,sex = #{sex}</if>
		 where uid=#{uid}
	</update>
	
	
	<!-- 查询用户总记录数 -->
	<select id="findUsersCount" parameterType="user" resultType="int">
		select count(*) from user
		<where>
			<if test="username!='' and username!=null">
				and username like '%${username}%'
			</if>
			<if test="email!='' and email!=null"> <!-- like里面的条件写错了    '%{email}%'    '%${email}%'    -->
				and email like '%${email}%'
			</if>
			<if test="phone!='' and phone!=null">
				and phone like '%${phone}%'
			</if>
		</where>
	</select>
	
	<!-- 分页查询用户当前页记录列表 -->
	<select id="findUsers" parameterType="map" resultType="user">
		select * from user
		<where>
			<if test="user.username!='' and user.username!=null"><!-- 查询条件是：user.username ，而不是username-->
				and username like '%${user.username}%'
			</if>
			<if test="user.email!='' and user.email!=null">
				and email like '%${user.email}%'
			</if>
			<if test="user.phone!='' and user.phone!=null">
				and phone like '%${user.phone}%'
			</if>
		</where>
		limit #{startPosition},#{pageRecord}
	</select>
	
	<!--编辑用户信息页面 -->
	<select id="queryUserById" parameterType="int" resultType="user">
		select * from user where uid=#{uid}
	</select>
	
	<!-- 编辑全部用户信息 -->
	<update id="editUserAll" parameterType="user">
		update user
		set username=#{username},password=#{password}
		<if test="email !=null and email!=''">,email = #{email}</if>
		<if test="phone !=null and phone!=''">,phone = #{phone}</if>
		<if test="sex !=null and sex!=''">,sex = #{sex}</if>
		 where uid=#{uid}
	</update>
	
	<!-- 删除用户 -->
	<delete id="deleteUser" parameterType="int">
		 delete from user where uid=#{uid}
	</delete>
	
	<!-- 当前所有用户总记录数 -->
	<select id="countUser" resultType="int">
		select count(*) from user
	</select>
</mapper>
