<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhku.jsj144.zk.financialManage.mapper.WishListMapper">

	<!-- 查询所有心愿单 -->
	<select id="findAllWishList" parameterType="int" resultType="WishList">
		select * from wishlist where user_id=#{uid} order by wdate desc,wid desc
	</select>
	
	<!-- 获取某人，某天的心愿单个数 -->
	<select id="CountWishByTimeAndId" parameterType="WishList" resultType="int">
		select count(*) from wishlist where user_id=#{user_id} and wdate=#{wdate}
	</select>
	
	<!-- 添加心愿单 -->
	<insert id="addWish" parameterType="WishList">
		insert into wishlist(wid,wish,wnum,wdate,state,user_id) 
		values(#{wid},#{wish},#{wnum},#{wdate},#{state},#{user_id})
	</insert>
	
	<!-- 根据wid查询心愿单信息 -->
	<select id="findWishById" parameterType="int" resultType="WishList">
		select * from wishlist where id=#{id}
	</select>
	
	<!-- 编辑心愿单 -->
	<update id="editWish" parameterType="WishList">
		update wishlist set wid=#{wid},wish=#{wish},wnum=#{wnum},
		wdate=#{wdate},state=#{state} where id=#{id}
	</update>
	
	<!--删除心愿单 -->
	<delete id="deleteWish" parameterType="int">
		delete from wishlist where id=#{id}
	</delete>
	
	<!--  查询心愿单总记录数 -->
	<select id="findWishListCount" parameterType="int" resultType="int">
		select count(*) from wishlist where user_id=#{uid}
	</select>
	
	<!--分页查询,心愿单 的当前页记录列表 -->
	<select id="findWishList" parameterType="map" resultType="WishList">
		select * from wishlist 
		where user_id=#{uid}
		order by wdate desc,wid desc
		limit #{startPosition},#{pageRecord}
	</select>
	
</mapper>
