<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>financialManage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
  	<!-- 配置spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<!-- 使用监听器加载Spring配置文件 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 配置SpringMVC的前端控制器 -->
	<servlet>
		<servlet-name>springmvc-web</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>springmvc-web</servlet-name>
		<!-- 配置所有以action结尾的请求进入SpringMVC -->
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
	

  
	<!-- 解决post乱码问题 -->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<!-- 设置编码参数是utf-8 -->
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	

   
	  
<!-- 配置一个servlet -->
<!-- servlet的配置 -->
<!-- <servlet> -->
    <!-- servlet的内部名称，自定义。尽量有意义 -->
<!--     <servlet-name>UeditorServlet</servlet-name> -->
    <!-- servlet的类全名： 包名+简单类名 -->
<!--     <servlet-class>cn.zhku.jsj144.zk.financialManage.controller.UeditorServlet</servlet-class> -->
<!-- </servlet> -->
<!-- servlet的映射配置 -->
<!-- <servlet-mapping> -->
    <!-- servlet的内部名称，一定要和上面的内部名称保持一致！！ -->
<!--     <servlet-name>UeditorServlet</servlet-name> -->
    <!-- servlet的映射路径（访问servlet的名称） -->
<!--     <url-pattern>/test/UeditorServlet</url-pattern> -->
<!-- </servlet-mapping> -->

	
		<!-- 配置静态文件引入 -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>default</servlet-name> -->
<!-- 		<url-pattern>*.jpg</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>default</servlet-name> -->
<!-- 		<url-pattern>*.js</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>default</servlet-name> -->
<!-- 		<url-pattern>*.css</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>default</servlet-name> -->
<!-- 		<url-pattern>*.png</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>default</servlet-name> -->
<!-- 		<url-pattern>*.gif</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>default</servlet-name> -->
<!-- 		<url-pattern>*.html</url-pattern> -->
<!-- 	</servlet-mapping> -->
	
</web-app>