<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhku.jsj144.zk.financialManage.mapper.BudgetMapper">

	<!-- 查找当前月份是否存在预算 -->
	<select id="findBudget" parameterType="Budget" resultType="Budget">
		select * from budget where user_id=#{user_id} and wtime=#{wtime}
	</select>
	
	<!-- 添加预算 -->
	<insert id="addBudget" parameterType="Budget">
		insert into budget(wtime,wnum,user_id) 
		values(#{wtime},#{wnum},#{user_id})
	</insert>
	
	<!-- 编辑预算 -->
	<update id="editBudget" parameterType="Budget">
		update budget set wnum=#{wnum}
		where wid=#{wid}
	</update>
	
	<!-- 删除预算 -->
	<delete id="deleteBudget" parameterType="int">
		delete from budget where wid=#{wid}
	</delete>
</mapper>
