<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhku.jsj144.zk.financialManage.mapper.NewsMapper">

	<!--添加新闻 -->	
	<insert id="addNews" parameterType="news">
		insert into news(nTitle,author,keyword,visitCount,nContent,recordTime) 
		values(#{nTitle},#{author},#{keyword},#{visitCount},#{nContent},#{recordTime})
	</insert>
	
	
	<!-- 查询新闻总记录数 --> 
	<select id="findNewsCount" parameterType="news" resultType="int">
		select count(*) from news
		<where>
			<if test="nTitle!='' and nTitle!=null">
				and nTitle like '%${nTitle}%'
			</if>
			<if test="author!='' and author!=null">
				and author like '%${author}%'
			</if>
			<if test="keyword!='' and keyword!=null">
				and keyword like '%${keyword}%'
			</if>
		</where>
	</select>

	<!-- 分页查询新闻当前页记录列表 -->
	<select id="findNewsCurrentPageList" parameterType="map" resultType="news">
		select * from news
		<where>
			<if test="news.nTitle!='' and news.nTitle!=null">
				and nTitle like '%${news.nTitle}%'
			</if>
			<if test="news.author!='' and news.author!=null">
				and author like '%${news.author}%'
			</if>
			<if test="news.keyword!='' and news.keyword!=null">
				and keyword like '%${news.keyword}%'
			</if>
		</where>
		limit #{startPosition},#{pageRecord}
	</select>
	
	<!-- 通过id查询当前新闻信息 -->
	<select id="queryNewsById" parameterType="int" resultType="news">
		select * from news where nid=#{nid}
	</select>

	<!-- 编辑新闻信息 -->
	<update id="editNews" parameterType="news">
		update news
		set nTitle=#{nTitle},author=#{author},keyword=#{keyword},recordTime=#{recordTime}
		where nid=#{nid}
	</update>

	<!-- 删除新闻信息 -->
	<delete id="deleteNews" parameterType="int">
		delete from news where nid=#{nid}
	</delete>

	<!-- 查询当前所有新闻记录数 -->
	<select id="countNews" resultType="int">
		select count(*) from news
	</select>
	
	
	<!-- 查出8条财务新闻，通过录入时间 和  访问量的多少来决定显示 -->
	<select id="findNewsEightList" resultType="news">
		select * from news 
		order by visitCount desc,recordTime desc 
		limit 0,8
	</select>
</mapper>
