<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhku.jsj144.zk.financialManage.mapper.ShouzhiCategoryMapper">

	 <!-- 通过父类型，从而查询出该父类型的所有子类型 -->
	 <select id="findSonCategoryByParent" parameterType="String" resultType="String">
	 	select son_category from shouzhi_category where parent_category=#{parent_category}
	 </select>
	 
	 <!--根据收支子类型，获得收支分类id  对象 -->
	 <select id="findCategoryBySonCategory" parameterType="String" resultType="ShouzhiCategory">
	 	select * from shouzhi_category where son_category=#{son_category}
	 </select>
	 
	 <!-- 查询收入或者支出子类型   ,通过父分类，从而查询其下的所有子分类 -->
	 <select id="findShouzhiCategoryByParent" parameterType="String" resultType="ShouzhiCategory">
	 	select * from shouzhi_category where parent_category=#{parent_category}
	 </select>
	 
	 <!-- 添加收支类型 -->
	 <insert id="addShouzhiCategory" parameterType="ShouzhiCategory">
	 	insert into shouzhi_category(parent_category,son_category) 
	 	values(#{parent_category},#{son_category})
	 </insert>
</mapper>
